<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <span (click)="preview($event)" class="preview-button">预览</span>
  </nz-header>
  <nz-layout>
    <nz-sider>
      <div class="container">
        <ul style="text-align: center;">
          <li *ngFor="let item of template">
            <div class="template-item " (click)="addComponent(item.id)">
              <img [src]="item.pic.value">
              <p>{{item.name.value}}</p>
            </div>
          </li>
        </ul>
      </div>
    </nz-sider>
    <nz-content>
      <div nz-row class="container" style="min-width: 750px;">
        <div nz-col [nzSpan]="12">
          <div class="container-phone" id="container-phone">
              <div class="container-phone-screen" id="container-phone-screen" (click)="handleData($event)" data-index='myConstVar.DATA_INDEX_OF_CHOOSE_NOTHING'
                [sortablejs]="templateArr" [sortablejsOptions]="sortableOptions">
              </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <!--部件具体数据-->
          <div class="container-data">
            <ng-template [ngIf]="selectPosition!=myConstVar.CHOOSE_NOTHING">
              <ng-template [ngIf]="selectPosition==myConstVar.CHOOSE_CONTENT">
                <section class="data-block" *ngIf="selectDataIndex>=0">
                  <div *ngFor="let item of selectData;" nz-row>
                    <p [nzSpan]="5" nz-col class="title">
                      {{item[0]}}：
                    </p>
                    <div nz-col [nzSpan]="7">
                      <div *ngIf="item[0] != '图片'; else elseBlock">
                        <input nz-input (keyup)="renderComponent()" [(ngModel)]="templateArr[selectIndex]['data'][selectDataIndex][item[0]]">
                      </div>
                      <ng-template #elseBlock>
                        <button nz-button (click)="beforeUpload()">
                          <i class="anticon anticon-upload"></i>
                          <span>Upload</span>
                        </button>
                        <input id='pic' type="file" style="display:none" (change)="upload($event)">
                      </ng-template>
                    </div>
                  </div>
                </section>
              </ng-template>
              <ng-template [ngIf]="selectPosition==myConstVar.CHOOSE_COMPONENT">
                <section class="data-block">
                  <div *ngFor="let item of selectData;" nz-row>
                    <p [nzSpan]="5" nz-col class="title">
                      {{item[0]}}：
                    </p>
                    <div nz-col [nzSpan]="7">
                      <input *ngIf="item[0] != '图片' " nz-input (keyup)="renderComponent()" [(ngModel)]="templateArr[selectIndex][item[0]]">
                      <ng-template #elseBlock>
                        <button nz-button (click)="document.getElementById('pic').click()">
                          <i class="anticon anticon-upload"></i>
                          <span>Upload</span>
                        </button>
                        <input id="pic" type="file" style="display:none" (change)="upload($event)">
                      </ng-template>
                    </div>
                  </div>
                </section>
              </ng-template>
              <!--上下移动部件位置-->
              <div>
                <button nz-button [nzType]="'primary'" (click)="positionUp()" [ngStyle]=" 
                {
                  'color': buttonPrev?'#fff':'rgba(0, 0, 0, 0.25)',
                  'background-color':buttonPrev?'#108ee9':'#f7f7f7',
                  'border-color':buttonPrev?'#108ee9':'#d9d9d9',
                  'pointer-events':buttonPrev?'auto':'none'
                }">
                  <i class="anticon anticon-up"></i>
                  <span>向前</span>
                </button>
                <button nz-button [nzType]="'primary'" (click)="delete()" [ngStyle]=" 
                {
                  'color': buttonDelete?'#fff':'rgba(0, 0, 0, 0.25)',
                  'background-color':buttonDelete?'#108ee9':'#f7f7f7',
                  'border-color':buttonDelete?'#108ee9':'#d9d9d9',
                  'pointer-events':buttonDelete?'auto':'none'
                }">
                  <i class="anticon anticon-delete"></i>
                  <span>删除</span>
                </button>
                <button nz-button [nzType]="'primary'" (click)="add()" [ngStyle]=" 
                {
                  'color': buttonAdd?'#fff':'rgba(0, 0, 0, 0.25)',
                  'background-color':buttonAdd?'#108ee9':'#f7f7f7',
                  'border-color':buttonAdd?'#108ee9':'#d9d9d9',
                  'pointer-events':buttonAdd?'auto':'none'
                }">
                  <i class="anticon anticon-plus"></i>
                  <span>添加</span>
                </button>
                <button nz-button [nzType]="'primary'" (click)="positionDown()" [ngStyle]=" 
                {
                  'color': buttonNext?'#fff':'rgba(0, 0, 0, 0.25)',
                  'background-color':buttonNext?'#108ee9':'#f7f7f7',
                  'border-color':buttonNext?'#108ee9':'#d9d9d9',
                  'pointer-events':buttonNext?'auto':'none'
                }">
                  <i class="anticon anticon-down"></i>
                  <span>向后</span>
                </button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </nz-content>
  </nz-layout>
  <nz-footer>Footer</nz-footer>
</nz-layout>

<div class="container preview" id="preview" style="display: none">
  <div class="container-phone">
    <div class="container-phone-screen" id="previewHtml"></div>
  </div>
</div>
