<div nz-row class="container">
  <div nz-col [nzSpan]="4">
    <ul>
      <li *ngFor="let item of template">
        <div class="template-item " (click)="addComponent(item.id)">
          {{item.name}}
        </div>
      </li>
    </ul>
  </div>
  <div nz-col [nzSpan]="11">
    <div class="container-phone">
      <div class="container-phone-screen" id="container-phone-screen" (click)="handleData($event)">
      </div>
    </div>
  </div>
  <div nz-col [nzSpan]="9">
    <!--部件具体数据-->
    <div class="container-data">
      {{templateArr.length}}
      <ng-template *ngIf="templateArr.length>0">
        <section class="data-block" *ngFor="let item of templateArr[selectIndex]['data']">
          <div *ngFor="let item2 of item">
            <input [value]="item2">
          </div>
        </section>
      </ng-template>

      <!--上下移动部件位置-->
      <button nz-button [nzType]="'primary'" (click)="positionUp()">
        <i class="anticon anticon-down"></i>
        <span>上移</span>
      </button>
      <button nz-button [nzType]="'primary'" (click)="positionDown()">
        <i class="anticon anticon-up"></i>
        <span>下移</span>
      </button>
    </div>
  </div>
</div>
