/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}
body{
    background: #ececec !important;
}

@mixin position($top:auto,$right:auto,$bottom:auto,$left:auto){
    position: absolute;
    top:$top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin circle($length,$backgroundColor:inherit){
    border-radius: 50%;
    height: $length;
    width: $length;
}
$dark:rgba(0,0,0,0.1);
$wordsColor:rgba(0,0,0,0.5);
$backgroundColor:#ececec;
.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.selected{
    border-color:  #49c;
    box-sizing: border-box;
}
section{
    padding: 10px !important;
    box-sizing: border-box !important;
}
/*菜单部件样式*/
.menu-component{
    display: block;
    width: 100%;
    overflow: auto;
    font-size: 0px;
    background-color: white;
    border:1px dashed transparent; 
    &>.item{
        display: inline-block;
        width: 20%;
        height: 90px;
        padding: 10px 0;
        font-size: 14px;
        border: 1px dashed transparent;
        &>.pic{
          display: block;
          margin: auto;
          background-size: 100% 100%;
          @include circle(50px,$wordsColor);
        }
        &>.word{
            @extend .ellipsis;
            width: 100%;
            padding-top: 5px;
            text-align: center;
            color: $wordsColor;
        }
        &.selected{
           @extend .selected;
        }
    }
    &.selected{
        @extend .selected;
    }
  }

